@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-path: '../../fonts';

/*
	Open Sans (self hosting)
*/
@font-face {
	font-family: "Open Sans Light";
	src: url($font-path + "/OpenSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans Regular";
	src: url($font-path + "/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans Italic";
	src: url($font-path + "/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans SemiBold";
	src: url($font-path + "/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans Bold";
	src: url($font-path + "/OpenSans-Bold.ttf") format("truetype");
}